.gridsPart{
    display: flex;
    color: white;
    gap: 10px;
    position: absolute;
    z-index: 1;
    /* top: 5%; */
    right: 5%;
    margin-top: 2%;
    padding: 0.1% 0.5%;
    border-radius: 5px;
    border: 1px solid white;

}

.gridViewCerti button, .listViewCerti button{
    /* color: white; */
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.listCertiBtn{
    font-size: 1.2em;
    color: rgb(143, 238, 255);
}